.empty {
  height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    font-size: 3rem;
  }
}
.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 5rem 3rem;
  gap: 3.5rem;
  .title {
    font-size: 1.6rem;
  }
  .meals_list {
    padding: 2rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.336);
    border-top: 1px solid rgba(128, 128, 128, 0.336);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .meal_item {
      flex: 1 1;
      display: flex;
      align-items: center;
      gap: 2rem;
      .thumb {
        height: 20vh;
      }
      .name {
        font-size: 1.4rem;
      }
    }

    .btn_detail {
      flex: 1 1;
      display: flex;
      align-items: center;
      justify-content: center;
      .btn {
        background: rgb(255, 136, 0);
        border-radius: 5rem;
        font-weight: 700;
        :hover {
          color: #fff;
        }
      }
    }

    .favourite {
      flex: 1 1;
      display: flex;
      align-items: center;
      justify-content: right;
      color: rgb(225, 29, 62);
      cursor: pointer;
      text-align: right;
      font-size: 2.2rem;
      // .icon {
      //   margin-right: 2rem;
      // }
    }
  }
}
