.wrapper {
  background: #ffffff;
  padding: 0.5rem;
  border-radius: 0.8rem 0.8rem 0 0;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  position: relative;
  .image {
    position: relative;
    img {
      border-radius: 0 0 0.8rem 0.8rem;
    }
  }
  .content {
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    h3 {
      font-size: 1.6rem;
      text-align: center;
    }
    button {
      background: rgb(255, 136, 0);
      border: none;
      padding: 0.7rem 1.5rem;
      border-radius: 1.5rem;
      cursor: pointer;
    }
  }
  .favourite {
    position: absolute;
    bottom: 0;
    right: 1rem;
    font-size: 2rem;
    color: rgb(186, 185, 185);
    cursor: pointer;
  }
}
