@import '@/styles/mixin';

.items {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2.5rem;
  padding: 2rem 4rem 7rem;
  @include screen_lg {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @include screen_md {
    padding: 2rem 2rem 5rem;
    gap: 1.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include screen_sm {
    padding: 2rem 0 5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2.5rem;
  }

  .wrapper {
    background: #ffffff;
    padding: 0.5rem;
    border-radius: 0.8rem 0.8rem 0 0;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    position: relative;
    @include screen_sm {
      padding: 0;
    }
    .image {
      position: relative;
      img {
        border-radius: 0 0 0.8rem 0.8rem;
      }
    }
    .content {
      padding: 2rem 0.8rem 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      h3 {
        font-size: 1.6rem;
        text-align: center;
      }
      .btn {
        background: rgb(255, 136, 0);
        border-radius: 1.5rem;
        font-weight: 600;
        :hover {
          color: #fff;
        }
      }
    }
    .favourite {
      position: absolute;
      bottom: 0.4rem;
      right: 1rem;
      font-size: 2rem;
      color: rgb(225, 29, 62);
      cursor: pointer;
    }
  }
}

.empty {
  height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    font-size: 3rem;
  }
}
